.THIS .slds-box--collapse__frame {
    margin-left: -1rem;
    margin-right: -1rem;
}

.THIS .slds-box--collapse {
    padding-left: 1rem;
    padding-right: 1rem;
}

.THIS .card-link {
    cursor: pointer;
}

.THIS .slds-frame--expand {
    max-height: 0vh;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}

.THIS .slds-frame--expanded {
    max-height: 100vh;
    overflow: auto;
}

.THIS .slds-rotate {
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform .25s ease-in-out;
}

.THIS .slds-rotate__180 {
    cursor: pointer;
    transform: rotate(-180deg);
    transition: transform .25s ease-in-out;
}

.THIS .currencyInputSpan {
    white-space: nowrap!important;
}

.THIS .slds-lookup-input {
    max-width: 33.33333%;
    min-width: 33.33333%
}

.THIS .slds-frame--expanded {
    max-height: 100%!important;
    overflow: hidden;
}