.THIS .slds-frame--expanded {
    max-height: 100%!important;
}

.THIS .slds-object--placeholder {
    width: 3.08rem;
}

.THIS .card-link {
    cursor: pointer;
}

.THIS .slds-card--wrapper {
    max-height: 1000vh;
    overflow: visible;
    transition: max-height .4s ease-in-out .1s, opacity .375s ease-in-out;
}
.THIS {
    max-width: calc(100vw - 3rem);
}
.THIS .slds-card--wrapper.slds-animate--remove {
    opacity: 0;
    border: none!important;
    max-height: 0vh;
    overflow: hidden;
    transition: max-height .4s .1s ease-in-out, opacity .375s ease-in-out;
}

.THIS .slds-p-bottom--none {
    padding-bottom: 0!important;
}

.THIS .slds-box-package-item {
    border-radius: 0!important;
}

.THIS .slds-box-parent-package-item {
    border-bottom-right-radius: 0!important;
    border-bottom-left-radius: 0!important;
}

.THIS .slds-box-last-package-item {
    border-top-right-radius: 0!important;
    border-top-left-radius: 0!important;
    border-top: none!important;
}