.THIS .sponsor-image-modal{
    min-width: 54rem!important;
    width: 100%!important;
}

.THIS .slds-modal__container {
    max-width: 60rem!important;
}


.THIS .is-featured-checkbox {
    margin: auto;
    padding-top: 15px;
}