.THIS .slds-popover--panel.slds-nubbin--left-top:after,
.THIS .slds-popover--panel.slds-nubbin--left-top:before,
.THIS .slds-popover--panel.slds-nubbin--right-top:after,
.THIS .slds-popover--panel.slds-nubbin--right-top:before,
.THIS .slds-popover--panel.slds-nubbin--top-left:after,
.THIS .slds-popover--panel.slds-nubbin--top-left:before,
.THIS .slds-popover--panel.slds-nubbin--top-right:after,
.THIS .slds-popover--panel.slds-nubbin--top-right:before {
    background-color: white!important;
}
.THIS .slds-popover {
    top: .75rem!important;
    left: 100%!important;
    position: absolute!important;
    z-index: 9000000!important;
}

.THIS .slds-position--relative{
    position: relative!important;
}